# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
.DS_Store

# VS Code settings
.vscode/

# Mac metadata
*.DS_Store

# Env files
.env