.landing-container, .create-profile-container, .carousel-container {
  text-align: center;
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
}

.landing-options button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
}

#profile-info img {
  border-radius: 50%;
  margin-top: 10px;
}